<div class="container">
    <div class="row mt-5">
        <div class="col text-center">
            <img src="img/gambarPemandangan.jpg" class="rounded-circle" alt="EldraSP" width="300">
            <h1 class="display-4">Eldra Surya Pratama</h1>
            <h1 class="display-4"><%= name  %> </h1>
            <p class="lead">Peserta Bootcamp batch 2</p>
        </div>
    </div>
</div>