<div class="container">
    <div class="row mt-5">
        <div class="col text-center">
            <img src="img/gambarPemandangan.jpg" class="rounded-circle" alt="EldraSP" width="200">
            <h1 class="display-4"><%= name  %> </h1>
        </div>

    </div>
</div>