<!-- Memanggil layoutnya -->

    <h1>Hello to Contact</h1>
    <p>this is Contact page</p>

        <!-- menampilkan contact list -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Contact List</h3>
                    <% if (cont.length == 0) { %>
                        <b>Contact kosong</b>
                    <% }else{ %>  
                        <% cont.forEach( (con,index) => { %>
                            <ul>
                                <i>Kontak ke - <%= index+1 %></i>
                                <li>Nama :<%= con.name %> </li>
                                <li>Email:<%= con.email %> </li>
                            </ul>
                        <% }) %>
                    <% } %> 
                </div>
            </div>
        </div>

