<!-- Memanggil layoutnya -->
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Hello...</h1> 
            
            <% if (msg.length !== 0) { %>
                <div class="alert alert-success" role="alert" style="width: 60rem;"> <%= msg %> </div>
            <% } %>
         
            <% if (name != null) { %>
                <div class="card text-bg-success mb-4" style="width: 60rem;">
                    <div class="card-body">
                      <h6 class="card-title ">Selamat datang <%= name %> , Kamu adalah <%= role %> </h6>
                    </div>
                </div>
            <% } %>

            <div class="card text-bg-primary" style="width: 60rem;">
                <div class="card-body">
                  <h4 class="card-title mt-3">Selamat datang di </h4>
                  <h1 class="card-title">Aplikasi Absensi Pegawai</h1>
                  <h6 class="card-title mt-5">Aplikasi absensi pegawai untuk tugas akhir bootcamp</h6>
                </div>
            </div>
        </div>
    </div>
</div>
