<!-- Membuat form untuk input data -->
<div class="container" >
    <div class="row">
        <div class="col">
            
            <form method="post" action="/login" >
                <div class="card mt-5 text-bg-info justify-content-center" style="width: 40rem; margin:auto">
                    <div class="card-body">
                        <!-- melakukan pengecekan jika terjadi error saat input,maka nilai sebelumnya masih ada -->
                        <div class="row justify-content-center mt-4">
                            <div class="col-md-6">

                                <% if (msg.length !== 0) { %>
                                    <div class="alert alert-success" role="alert"> <%= msg %> </div>
                                <% } %>
                    
                                <% if (msg2.length !== 0 ) { %>
                                    <div class="alert alert-danger" role="alert"> <%= msg2 %> </div>
                                <% } %>
                                <h1 class="form-label mb-3">Form Login</h1>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Username</label>
                                    <input type="text" class="form-control" name="username" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input type="password" class="form-control" name="password" required>
                                </div>  
                                <button type="submit" class="btn btn-primary"><i class="bi bi-check-circle"></i> Login</button>
                            </div>
                        </div>
        
                    </div>
                </div>
            </form>
                        
            </div>
            <!-- menampilkan detail error ketika input -->
            <!-- <% if (typeof errors !='undefined' ) { %>
                <div class="alert alert-danger" role="alert">
                    <ul>
                        <% errors.forEach(error => { %>
                            <li><%= error.msg %> </li>
                        <% }) %>
                    </ul>
                </div>
            <% } %> -->

        </div>
    </div>
</div>